#MACRO {\eOQ} {eat yao}
#MACRO {\eOR} {yun recover}
#MACRO {\eOS} {perform yizhi-chan.jingmo}
#MACRO {\e[15~} {perform luohan-quan.luohan}
#MACRO {\e[17~} {perform banruo-zhang.san}
#MACRO {\e[18~} {perform jingang-quan.jingang}
#MACRO {\e[19~} {perform nianhua-zhi.fuxue}
#MACRO {\e[20~} {perform ranmu-daofa.fenxin}
#MACRO {\e[21~} {perform ranmu-daofa.fenwo}

#var fsk {};

fskfreq lw 100 0.5;
fskfreq lx 40;

fsklimit 760;
fsklingw 达摩院二楼;
fsksleep 和尚院二部;

fskadd force yijin-jing;
fskadd dodge shaolin-shenfa;
fskadd parry nianhua-zhi;

fskadd finger yizhi-chan;
fskadd strike banruo-zhang;
fskadd cuff jingang-quan;
fskadd cuff luohan-quan;
fskadd blade xiuluo-dao;
fskadd blade ranmu-daofa;
fskadd hand qianye-shou;
fskadd club zui-gun;
fskadd staff zui-gun;
fskadd sword damo-jian;
fskadd iron-cloth jingang-buhuai;

#act {^你的「护体真气」运行完毕，将内力收回丹田} {
    yun shield;
};

#alias {fx} {perform ranmu-daofa.fenxin};
#alias {fw} {perform ranmu-daofa.fenwo};
#alias {ft} {perform ranmu-daofa.fentian};

#alias {do_pfm} {
    #if {$status[mo] >= 12} {
        wield blade;
        #delay {1}{
            perform ranmu-daofa.fentian;
            #delay {1} {
                unwield blade;
            };
        };
    };
    #elseif {$status[mo] >= 12} {
        #nop remove shield;
        perform luohan-quan.luohan;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 12} {
        #nop remove shield;
        perform banruo-zhang.san;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 12} {
        #nop remove shield;
        perform jingang-quan.jingang;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 8} {
        #nop remove shield;
        perform yizhi-chan.jingmo;
        #nop wear shield;
    };
    #else {
        #nop perform ranmu-daofa.fenxin;
    };
};

