#MACRO {\eOQ} {eat yao}
#MACRO {\eOR} {yun recover}
#MACRO {\eOS} {perform yizhi-chan.jingmo}
#MACRO {\e[15~} {perform luohan-quan.luohan}
#MACRO {\e[17~} {perform banruo-zhang.san}
#MACRO {\e[18~} {perform jingang-quan.jingang}
#MACRO {\e[19~} {perform nianhua-zhi.fuxue}
#MACRO {\e[20~} {perform daweituo-chu.rulai}
#MACRO {\e[21~} {perform daweituo-chu.wuxiang}

#var fsk {};

fskfreq lw 100 0.5;
fskfreq lx 40;

fsklimit 770;
fsklingw 达摩院二楼;
fsksleep 和尚院二部;

fskadd force yijin-jing;
fskadd dodge shaolin-shenfa;
fskadd parry nianhua-zhi;

fskadd finger yizhi-chan;
fskadd strike banruo-zhang;
fskadd cuff jingang-quan;
fskadd cuff luohan-quan;
fskadd staff zui-gun;
fskadd staff daweituo-chu;
fskadd hand qianye-shou;
fskadd sword damo-jian;
fskadd blade xiuluo-dao;
fskadd iron-cloth jingang-buhuai;

#alias {sunx} {perform qishang-quan.sunxin};
#alias {shangf} {perform qishang-quan.shangfei};

#var murong[banned][area] {{紫禁城}{}};
#var murong[banned][pos] {{少林寺松树林}{}{少林寺暗道}{}{少林寺五行洞}{}{黄河南岸顶峰}{}{丐帮暗道}{}{日月神教望海石}{}{平西王府秘室}{}{嘉兴山洞}{}{杭州提督府小道}{}{大轮寺积雪小路}{}{丝绸之路大沙漠}{}{泰山封禅台}{}{归云庄桃花林}{}{归云庄迷魂阵}{}{襄阳黑松寨}{}{襄阳乱葬岗}{}{神龙岛花园}{}{福州密道}{}{福州密室}{}{白驼山蛇谷荒地}{}{杀手帮果林}{}{北京城墙}{}{扬州兵器库}{}};

#alias {do_pfm} {
    #if {$status[mo] >= 16} {
        perform daweituo-chu.rulai;
    };
    #elseif {$status[mo] >= 12} {
        #nop remove shield;
        perform luohan-quan.luohan;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 1212} {
        #nop remove shield;
        perform jingang-quan.jingang;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 1212} {
        #nop remove shield;
        perform banruo-zhang.san;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 8} {
        #nop remove shield;
        perform yizhi-chan.jingmo;
        #nop wear shield;
    };
    #elseif {$status[mo] >= 555} {
        #nop perform daweituo-chu.wuxiang;
    };
    #else {
        #nop perform zui-gun.zuida;
        yun jingang;
    };
};
